<div class="card">
  <div class="card-content">
    <span class="card-title">Add Item</span>
    <form class="col s6" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <label>Title</label>
          <input name="title" type="text" placeholder="Add Title" [(ngModel)]="item.title">
        </div>
        <div class="input-field col s6">
          <label>Description</label>
          <input name="description" type="text" placeholder="Add Description" [(ngModel)]="item.description">
        </div>
        <input class="btn" type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>
